@charset "utf-8";
html,body,ul{
	margin: 0;
	padding: 0;
}

html {
	font-size: 14px;
	font-family: 微软雅黑;
}

/*头部样式开始*/
header{
	width: 100%;
	height: 185px;
	background-color: #fff;
}
.header{
	width: 100%;
	height: 35px;
	background-color: #000;
}
.header_nr {
	width: 1000px;
	height: 35px;
	margin: 0 auto;
}
.header_nr .left{
	width: 470px;
	height: 35px;
	padding-left: 30px;
	line-height: 35px;
	float: left;
	background: url(../images/gonggao.png) no-repeat left center;
	color: #fff;
}
.header_nr .right{
	width: 500px;
	height: 35px;
	float: right;
}
.header_nr .right .search {
	width: 140px;
	float: right;
	border: 1px solid #fff;
	padding-left: 15px;
	margin-top: 6px;
}
.header_nr .right .search .txtSearch {
	width: 120px;
	height: 18px;
	line-height: 18px;
	background-color: #000;
	border: 0px;
	color: #fff;
}
.header_nr .right .menu {
	float: right;
	line-height: 35px;
	padding-right: 20px;
	color: #fff;
}
.header_nr .right .menu a{
	color: #fff;
	padding: 0px 8px;
	text-decoration: none;
}
.header_nr .right .menu a:hover {
	text-decoration: underline;
}
/*头部样式结束*/
/*logo开始*/
.logo{
	width: 1000px;
	height: 67px;
	margin: 20px auto;
	text-align: center;                                            
}
/*logo结束*/
/*nav开始*/
.nav{
	width: 100%;
	height: 40px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.nav .nav_nr{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
}

.nav .nav_nr ul{
	list-style: none;
}
.nav .nav_nr li{
	float: left;
	width: 120px;
	padding: 0 2px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
}
.nav .nav_nr a {
	color: #000;
	text-decoration: none;
}
.nav .nav_nr a:hover {
	color: #d2416a;
}
/*nav结束*/

/*头部样式结束*/


/*主体样式开始*/
#conten{
	width: 100%
}

.banner{
	width: 1000px;
	height: 557px;
	margin: 0 auto;
	padding-top: 50px;
}

.ad{
	width: 1000px;
	margin: 0 auto;
}

.ad img {
	border: 0px;
	display: block;/*换行效果*/
}

.title{
	width: 1000px;
	margin: 0 auto;
	font-size: 30px;
	line-height: 80px;
	color: black;
	text-align: center;
	border-bottom: 1px dashed #000;
}

.summary{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
	line-height: 50px;
}

.summary a{
	color: #333;
	text-decoration: none;
	font-weight: 100;
	padding-right: 20px;
}

.summary a:hover{
	color: #d2416a;
	text-decoration: underline;
}

.new_pro{
	width: 1000px;
	margin: 0 auto;
}

.new_pro ul{
	list-style: none;
}

.new_pro li{
	float: left;
	width: 491px;
	padding-bottom: 10px;
}

.new_pro .line{
	padding-left: 18px;
}

.hotpro {
	width: 1000px;
	margin: 0 auto;
}

.hotpro ul{
	list-style: none;
}
.hotpro li{
	float: left;
}
.hotpro .hot_line {
	padding-right: 21px; 
}
.adpro {
	width: 1000px;
	margin: 30px auto;
}
.adpro ul{
	list-style: none;
}
.adpro li{
	float: left;
}
.clearfix {
	width: 0px;
	height: 0px;
	clear: both;
}/*消除浮动*/
/*主题样式结束*/
footer{
	width: 100%;
	background-color: #fff;
}
.foot {
	width: 1000px;
	border-top: 1px solid #000000;
	margin: 0px auto;
	margin-top: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.foot_li{
	width: 166px;
	float: left;
}
.foot_li span{
	font-family: "Microsoft YaHei";
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	display: block;/*换行效果*/
}
.foot_li a{
	display: block;
	font-size: 14px;
	line-height: 28px;
	color: #333;
	font-weight: 200;
	text-decoration: none;
}
.foot_li a:hover{
	text-decoration: underline;
}

.copyright{
	width: 100%;
	background-color: #000000;
	color: #fff;
	text-align: center;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
.xiaji_top{
	font-family: "Microsoft YaHei";
	width: 1000px;
	margin: 30px auto;
	font-size: 34px;
	height: 50px;
	line-height: 50px;
	font-weight: 200px;
	text-indent: 1em;
}
.main_xiaji{
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ccc;
}
.main_xiaji ul{
	list-style: none;
}
.main_xiaji li{
	float: left;
	border: 1px solid #fff;
}
.main_xiaji li:hover{
	border: 1px solid #d2416a;
}
.pro_big{
	width: 230px;
	background-color: #fff;
	margin: 9px;
	padding: 10px 0px;
}
.proming_a{
	width: 220px;
	height: 200px;
	overflow: hidden;
	background-color: #fff;
}
.proming_b{
width: 100%;
height: 24px;
font-family: 微软雅黑;
font-size:12px;
color: #333;
padding-top: 10px;
padding-bottom: 10px;
overflow: hidden;
background-color: #fff;
}
.proming_b a{
color: #333;
text-decoration: none;
}
.proming_b a:hover{
	text-decoration: underline;
}
.proming_c{
	width: 100%;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	color: red;
	line-height: 20px;
	background-color: #fff;

}
.proming_d{
	width: 100%;
	font-family: 微软雅黑;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	background-color: #fff;
}
.main_hot{
	width: 1000px;
	margin: 0 auto;
}
.main_hot ul{
list-style: none;
}
.main_hot li{
float: left;
padding-bottom: 10px;
}
.main_hot .line{
	margin-left: 18px;
}

/*商品页详情页样式*/
.type_main{
	width: 1000px;
	margin: 30px auto;
}
.type_left{
	width: 200px;
	float: left;
}
.type_left .left_top{
	width: 178px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	padding-left: 10px;
}
.type_left ul{
	list-style: none;
}
.type_left li{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
}
.type_left li a{
	color: #333;
	font-size: 14px;
	padding-left: 15px;
	text-decoration: none;
}
.type_left i{
	display: block; /*占空间 换行效果*/
	height: 40px;
	width: 15px;
	float: left;
	background: url("../images/menubg.png") no-repeat 0px -88px;
}
.right_detail{
	width: 780px;
	float: right;
}
.right_detail .d_top{
	width: 100%；
	font-size:16px;
	border-bottom: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	margin-bottom: 30PX;
}
.right_detail .d_left{
	width: 310px;
	float: left;
	margin: 0 auto;
}
.right_detail .d_left .box{
	width: 310px;
	margin: 0 auto;
}
.right_detail .d_left ul{
	padding: 2px;
	list-style: none;
}
.right_detail .d_left li{
	float: left;
	height: 50px;
	margin-left: 6px;
	border: 2px solid #f00;
}

.right_detail .d_right{
	float: right;
	width: 410px;
}
.right_detail .d_right .detail_a{
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	padding: 15px 0px;
	border-bottom: 1px dashed #ccc;
	
}
.right_detail .d_right .detail_b{
	font-size: 18px;
	color: red;
	font-weight: bold;
	padding: 15px 0px;
	border-bottom: 1px dashed #ccc;
	letter-spacing:2px;

}
.right_detail .d_right .detail_c{
	font-size: 14px;
	font-weight:100;
	padding: 15px 0px;
	border-bottom: 1px dashed #ccc;
}
.right_detail .d_right .detail_d{
	padding: 15px 0px;

}
.right_detail .d_nr_top{
	background-color: red;
	color: #fff;
	height: 20px;
	line-height: 20px;
	padding-left: bold;
	font-size: 14px;
	margin: 50px auto;
}



